doctype html

include header

body
  div#main-grid.ui.center.aligned.grid
    div.twelve.wide.column
      //-div.ui.left.input.action.labeled
        //-div.ui.label
          //-i.icon.github
          //-| https://github.com/
        //-input(placeholder="repo url" type="text")
        //-button.ui.button
          //-| start
      div.ui.segment
        pre
          code#code
            span#finished
              | 123
              | 234
            span#current
              | 123
              | 234
            span#unfinished
              | 123
              | 234

  script(src="semantic/jquery.min.js")
  script(src="semantic/semantic.min.js")
  script(src="js/main.js")
